<!DOCTYPE html>
<html lang="en">
<head>
    <title>User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Voter.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="brand-text">Welcome,<span th:text="${user.userName}"></span></span>
        </a>
        <button class="navbar-toggler" type="button" id="navbar-btn" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" id="home" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  id="vote" href="#">Vote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="update" href="#">Update</a>
                </li>
            </ul>
            <ul class="navbar-nav custom-class">
                <li class="nav-item" id="logoutLi">
                    <a class="nav-link" th:href="@{/logout}" th:action="@{/logout}" th:method="GET">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3" id="homepage">
    <img class="user-img" src="User.png" alt="user-img">
    <table class="table table-bordered mx-auto table-responsive-sm table-responsive-md">
        <thead>
        <tr>
            <th colspan="2">Welcome,<span th:text="${user.userName}"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td th:text="${user.userName}"></td>
        </tr>
        <tr>
            <td>UserName</td>
            <td th:text="${user.voterName}"></td>
        </tr>
        <tr>
            <td>User ID</td>
            <td th:text="${user.userid}"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td th:text="${user.age}"></td>
        </tr>
        <tr>
            <td>Voter ID</td>
            <td th:text="${user.voterid}"></td>
        </tr>
        <tr>
            <td>Mobile NO</td>
            <td th:text="${user.mobnum}"></td>
        </tr>
        </tbody>
    </table>
</div>


<div class="container mt-3" id="updatepage" style="display: none;">
    <form th:action="@{/update}" method="POST">
        <h2 style="font-weight: bold;">Update Details</h2>
        <input type="hidden" th:value="${user.userid}" name="userid">
        <div class="mb-3 mt-3">
            <label for="userName" class="form-label">UserName:</label>
            <input type="text" class="form-control" id="userName" th:value="${user.userName}"  name="userName">
        </div>
        <div class="mb-3 mt-3">
            <label for="voterName" class="form-label">VoterName:</label>
            <input type="text" class="form-control" id="voterName" th:value="${user.voterName}"  name="voterName">
        </div>
        <div class="mb-3 mt-3">
            <label for="age" class="form-label">Age:</label>
            <input type="number" class="form-control" id="age" th:value="${user.age}"  name="age">
        </div>
        <div class="mb-3 mt-3">
            <label for="voterid" class="form-label">Voter Id:</label>
            <input type="text" class="form-control" id="voterid" th:value="${user.voterid}"  name="voterid">
        </div>
        <div class="mb-3 mt-3">
            <label for="mobnum" class="form-label">Mobile Number:</label>
            <input type="number" class="form-control" id="mobnum" th:value="${user.mobnum}"  name="mobnum">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
</div>

<div class="container mt-3 mb-3" id="votepage" style="display: none;">
    <div class="text-center">
        <h1 class="font-weight-bold">Poll</h1>
    </div>
    <div class="text-center mt-3">
        <label class="radio-container">
            <span><img src="user.png" class="candidate-img"></span>
            <span>candidate-1</span>
            <input type="radio" name="candidate" value="candidate-1">
        </label>
    </div>
    <div class="text-center mt-3">
        <label class="radio-container">
            <span><img src="user.png" class="candidate-img"></span>
            <span>candidate-2</span>
            <input type="radio" name="candidate" value="candidate-2">
        </label>
    </div>
    <div class="text-center mt-3">
        <label class="radio-container">
            <span><img src="user.png" class="candidate-img"></span>
            <span>candidate-3</span>
            <input type="radio" name="candidate" value="candidate-3">
        </label>
    </div>
    <div class="text-center mt-3 mb-3">
        <label class="radio-container">
            <span><img src="user.png" class="candidate-img"></span>
            <span>candidate-4</span>
            <input type="radio" name="candidate" value="candidate-4">
        </label>
    </div>
    <div class="text-center mt-3 mb-3">
        <button class="button">
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Vote</span>
        </button>
    </div>
</div>

<script src="script1.js"></script>
</body>
</html>